
*.dll
*.pdb
*.sln
*.suo
*.pfx
*.csproj
*.user
*.resx
*.txt
*.Cache
*.resources
*.exe
*.application
*.manifest
*.ico
*.png
*.settings
*.gif
*.config
*.dgml
*.jpg
*.xml
*.jar
*.dat
*.6128
*.6492
*.7876
*.8008
*.tlog
*.projdata
