
*.suo
*.dll
*.pdb
*.pfx
*.Cache
*.projdata
*.resources
*.tlog
*.ico
*.png
*.resx
*.user
*.manifest
*.csproj
*.txt
*.exe
*.8008
*.7876
*.6492
*.6128
*.jar
*.jpg
*.sln
*.application
*.gif
*.dgml
*.dat
